<h1 class="display-3">Our Female Candidates</h1>

<div id="imgfemale" class="container-fluid">
	
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>


<div class="container-fluid">
  <div *ngIf="appState == 'extend'">
    <div class="row">
      <div *ngFor="let profiles of profiles" class="col-12">
        <div *ngIf="profiles.$key == activeKey">
          <div class="extraInfo">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 text-center mt-5 mb-5">
                <img class="img-fluid imgProfile ml-5" src="{{profiles.image}}" alt="{{profiles.name}}-Image">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-1 col-md-offset-1 pl-5 mt-5 mb-5">
                <h4 class="mr-5">Name: <small>{{profiles.name}} {{profiles.surname}}</small></h4>
                <h4 class="mr-5">Age: <small>{{profiles.age}}</small></h4>
                <h4 class="mr-5"><h4>Free or not: <small *ngIf="profiles.isRelated; else single">Related</small>
                        <ng-template #single><small>Single</small></ng-template></h4>
                <p *ngIf="profiles.gender =='male'; else female"><i class="fas fa-mars genderSymbol genderSymbolMale"></i></p>
                </h4>
                <div class="col-12 details border-top likeValue">
                  <ng-template #female>
                    <p><i class="fas fa-venus genderSymbol genderSymbolFemale"></i></p>
                  </ng-template>
                  <div class="mb-4">
                    <div class="btnLike likeValue likeBtn" (click)="addLike(profiles.$key ,profiles.likes)" #li><i class="far fa-thumbs-up"></i></div>
                    <span class="ml-4 mr-4 font-weight-bold likeValue">{{profiles.likes}}</span>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success closeBtn" (click)="changeState('default')">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- print elements-->

<div class="container-fluid">
<div class="row">
  <div  *ngFor="let profiles of profiles" class="col-lg-3 col-md-6 col-sm-12 text-center mt-5" >
    <div class="row">
        <div class="col-12 text-center" *ngIf="profiles.gender =='female';">
          <img class="img-fluid imgProfile mb-4" src="{{profiles.image}}" alt="{{profiles.name}}-Image">
        
        <div class="col-12 text-center">
            <h4>{{profiles.name}}  {{profiles.surname}}</h4>
        </div>
        <div class="col-12 details border-top border-bottom likeValue" >
           <p *ngIf="profiles.isRelated; else single">Related</p>
            <ng-template #single><p>Single</p></ng-template>
        
            <p *ngIf="profiles.gender =='female';"><i class="fas fa-mars genderSymbol genderSymbolMale"></i></p>
          
            <ng-template #female><p><i class="fas fa-venus genderSymbol genderSymbolFemale"></i></p></ng-template>
        
            <div class="mb-4">
                <div class="btnLike likeValue likeBtn"  (click)="addLike(profiles.$key ,profiles.likes)" #li><i class="far fa-thumbs-up"></i></div> 
                <span class="ml-4 mr-4 font-weight-bold likeValue">{{profiles.likes}}</span>             
            </div>
            <div>
              <button (click)="changeState('extend', profiles.$key)" class="btn btn-outline-success mb-4 moreBtn">More</button>
            </div>         
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>